<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<system.serviceModel>
    <services>
      --><!-- Remarque : le nom du service doit correspondre au nom de configuration pour l'implémentation du service. --><!--
      <service name="WcfService.RestService" behaviorConfiguration="RestServiceBehaviors" >
        <endpoint address="http://localhost:8733/WcfService/RestService/" binding="basicHttpBinding" contract="WcfService.IRestService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        --><!-- Ajoutez le point de terminaison suivant.  --><!--
        --><!-- Remarque : votre service doit posséder une adresse de base http pour ajouter ce point de terminaison. --><!--
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/WcfService/RestService/" /> 
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RestServiceBehaviors" >
          --><!-- Ajoutez l'élément suivant à la configuration du comportement de votre service. --><!--
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    --><!-- <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRestService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/RestService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRestService"
                contract="WcfService.IRestService" name="BasicHttpBinding_IRestService" />
        </client>--><!--
  </system.serviceModel>-->
</configuration>